@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

/* 全体の設定 */
html {
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 2rem;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

main {
    padding: 20px;
}

h2 {
    padding: 1rem 2rem;
    background-color: #ffce08;
    border-left: 5px solid #704308;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.flex-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content p {
    margin: 5px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer .nav {
  margin-bottom: 20px;
}

footer .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .nav li {
  display: inline;
}

footer .nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

footer .nav a:hover {
  background-color: #ffce08;
  color: #333;
}

footer .gotop {
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

#toggle-button {
    padding: 10px 20px;
    background-color: #ffce08;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#toggle-button:hover {
    background-color: #704308;
    color: white;
}

/*コメント設定*/
.comment-box {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px #878787;
}

.comment-user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-weight: bold;
}

.comment {
	line-height: 1.6;
}